.main_container {
    display: flex;
    background-color: #fffefe;
    flex-direction: column;
    align-items: center;
    padding-top: 150px;
    gap: 20px;
    height: 100vh;
    font-family: Arial, sans-serif;
}

.colour_container {
    width: 150px;
    height: 150px;
    border: 2px solid #000;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}