.todo_header{
    font-size: 70px;
    margin-top: 50px; 
    font-size: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

.input_container {
    display: flex;
    gap: 10px;
    margin-bottom: 25px;
    justify-content: center;
}

.taskInput {
    width: 400px;
    padding: 12px 15px;
    border: 2px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    outline: none;
}

.taskInput:focus {
    border-color: #007BFF;
}

.addTaskBtn {
    padding: 12px 25px;
    background-color: #63c654;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
}

.addTaskBtn:hover {
    background-color: #50a243;
}

ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.task-item-container {
    margin-bottom: 15px;
}

li {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    border-radius: 5px;
    width: 40vw;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

li.Inactive {
    background-color: #ff7f7f; 
}

li.Inactive:hover {
    background-color: #df6f6f; 
}

li.Completed {
    background-color: #4CAF50;
}

li.Completed:hover {
    background-color: #3b823d;
}

li.Ongoing {
    background-color: #ff9800; 
}

li.Ongoing:hover {
    background-color: #e88d05;  ;
}

.remove-btn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.status-controls {
    margin-top: 10px;
    padding: 10px 0;
    display: none; 
    border-radius: 5px;
    justify-content: center;
    gap: 10px;
    background-color: #e9e9e9;
    padding-left: 15px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}

.status-controls label {
    margin-right: 15px;
    cursor: pointer;
    font-size: 14px;
}

.status-controls input[type="radio"] {
    margin-right: 5px;
}